<?xml version="1.0" encoding="utf-8"?>
<widget
    id="com.cimangcu.password"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>PASSWORD CIMANGCU</name>

    <description>
        Password CIMANGCU
    </description>

    <author email="yuwana.roy@gmail.com">
        CIMANGCU
    </author>

    <content src="index.html"/>

    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-navigation href="*"/>

    <preference name="SplashScreenDelay" value="0"/>
    <preference name="AndroidXEnabled" value="true"/>

    <platform name="android">
        <icon src="resources/icon.png"/>
    </platform>
</widget>
